<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoodCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E447A1781E1C49F300B42C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E447A1911E1C49F300B42C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E447A19C1E1C49F300B42C3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
